.container {
    width:100wv;

    .fieldContainer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 5vh;
        justify-self: center;
        align-self: center;
        border-radius: 15px;
        padding: 20px;
        background-color: rgb(39, 39, 39);

        p {
            text-align: center;
            font-weight:200;
        }
    }

}