.container {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .errorMessageContainer {
        margin-top: 14px;
        width: 95%;
        text-align: center;
    }

    .inputField {

        border-radius: 15px;
        padding: 20px;
        height: 35vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        background-color: rgb(39, 39, 39);

        .errorMessage {
            margin-top: 10px;

        }

        form {
            display: flex;


            label {
                margin-top: 30px;
                font-size: 0.9rem;

                select {
                    margin-top: 10px;
                    padding-left: 5px;
                    font-size: 16px;
                    height: 3rem;
                    width: 200px;
                    border-radius: 7;
                    background-color: white;
                    color: black;
                }
            }

            button {
                background-color: rgb(255, 136, 0);
                align-self: end;
                border-radius: 15px;
                width: 120px;
                height: 3rem;
                font-size: 1rem;
                color: black;

                &:hover {
                    background-color: rgba(255, 136, 0, 0.468);
                }
            }



        }
    }


    .errorMsgContainer {
        margin-top: 20px;
        border-radius: 15px;
        padding: 20px;
        height: fit-content;
        width: 80%;
        display: flex;
        color: rgb(222, 20, 20);
        font-weight: 700;
        background-color: rgb(39, 39, 39);
    }
}