.container {
    width: 100wv;
    height: 100vh;

    .fieldContainer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 5vh;
        justify-self: center;
        align-self: center;
        border-radius: 15px;
        padding: 20px;
        background-color: rgb(39, 39, 39);

        p {
            text-align: center;
            font-weight: 400;

        }

        .goBack {
            width: 40%;
            font-size: 1rem;
            border-radius: 5px;
            align-self: center;
            margin-top: 3%;
            margin-bottom: 5%;
            color: #ffffff;
            background-color: #0e657d;
            font-weight: 500;

            @media (hover: hover) and (pointer: fine) {

                &:hover {
                    background-color: #a97019;
                }
            }
        }
    }

}

@media(min-width:1200px) {
    .container {
        .fieldContainer {
            .goBack {
                width: 20%;
                height:30px;


            }

            p {
                font-size: 2rem;
                margin-bottom: 2rem;
                font-weight: 200;
            }

            .gridContainer {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

            }
        }
    }


}