.container {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .startCalcBtn {
        align-self: center;
        background-color: #ffffff;
        font-size: 1rem;
        width: 90vw;
        height: 7vh;
        border-radius: 10px;
        font-weight: 800;
        color: rgb(21, 21, 21);
        margin-bottom: 25vh;
    }

    .flexContainer {
        align-self: center;

        .text {
            width: 90vw;
            color: black;
            font-size: 2rem;

            span {
                font-weight: 800;
            }

        }

        .calcImage {
            display: none;
        }
    }


}

@media(min-width: 1200px) {
    .container {
        .flexContainer {
            display: flex;
            flex-direction: row;
            width: 90vw;

            .text {
                font-size: 3.5rem;
                align-content: center;
            }

            .calcImage {
                display: block;
                margin-right: 5vw;
            }
        }

        .startCalcBtn {
            height: 50px;
            font-size: 1.5rem;
            margin-bottom: 10vh;
        }

    }
}

@media(max-width:1700px){
    .container {
        .flexContainer {
            .calcImage{
                width: 800px;
                height: 560px;
            }
        }
    }
}