.container {

    .adUpper {
        margin-top: 2vh;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 90vw;
        height: 10vh;
    }

    .fieldContainer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 5vh;
        justify-self: center;
        align-self: center;
        border-radius: 15px;
        padding: 1%;
        background-color: rgb(39, 39, 39);

        .adPlusBackButton {
            display: flex;
            justify-content: center;

            .infoDesktop {
                display: none;
            }

            .ad {
                display: none;
            }

            width:100vw;

            .goBack {
                width: 40%;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 1rem;
                border-radius: 5px;
                align-self: center;
                margin-top: 3%;
                margin-bottom: 5%;
                color: #ffffff;
                background-color: #0e657d;
                font-weight: 500;

                @media (hover: hover) and (pointer: fine) {

                    &:hover {
                        background-color: #a97019;
                    }
                }
            }
        }



        .showInfoButtonDefault {
            width: 90%;
            font-size: 1rem;
            padding: 0.5%;
            border-radius: 5px;
            align-self: center;
            margin-top: 3%;
            margin-bottom: 5%;
            color: #000;
            background-color: #e69111;
            font-weight: 500;


        }

        .showInfoButtonGray {
            width: 90%;
            font-size: 1rem;
            padding: 0.5%;
            border-radius: 5px;
            align-self: center;
            margin-top: 3%;
            margin-bottom: 5%;
            color: #d7d7d7;
            background-color: #736d64;
            font-weight: 500;
        }

        p {
            text-align: center;
            font-weight: 200;

        }

        .currentYear {
            text-align: center;
            font-weight: 800;
            margin-top: 15px;
            font-size: 1.5rem;
            width: 100%;
            background-color: #e69111;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: rgb(39, 39, 39);

        }


        .yearSelection {
            display: flex;
            width: 80%;
            align-self: center;
            gap: 5vw;
            margin-top: 1rem;

            button {
                width: 100%;
                font-size: 1rem;
                padding: 0.5%;
                border-radius: 5px;
                align-self: center;
                margin-top: 3%;
                margin-bottom: 5%;
                color: rgb(235, 235, 235);
                background-color: #0e657d;
                font-weight: 500;

                @media (hover: hover) and (pointer: fine) {

                    &:hover {
                        background-color: #a97019;
                    }
                }

            }

            .yearSelectionActive {
                background-color: #e69111;
                color: #000;

            }
        }

        .yearSelectionSecond {
            display: flex;
            width: 80%;
            align-self: center;
            gap: 5vw;
            margin-top: 1rem;

            button {
                width: 100%;
                font-size: 1rem;
                padding: 0.5%;
                border-radius: 5px;
                align-self: center;
                margin-top: 3%;
                margin-bottom: 5%;
                color: rgb(235, 235, 235);
                background-color: #0e657d;
                font-weight: 500;

                @media (hover: hover) and (pointer: fine) {

                    &:hover {
                        background-color: #a97019;
                    }
                }

            }

            .yearSelectionActive {
                background-color: #e69111;
                color: #000;

            }
        }

    }

}

@media(min-width:1200px) {
    .container {

        .adUpper {
            display: none;
        }

        .fieldContainer {

            .currentYear {
                padding-top: 1rem;
                padding-bottom: 1rem;


            }

            p {
                font-size: 2rem;
                margin-bottom: 2rem;
                font-weight: 200;
            }

            .adPlusBackButton {
                display: flex;
                align-self: space-between;
                margin-bottom: 5vh;
                gap: 5vw;

                .infoDesktop {
                    display: block;
                    width: 20vw;
                }



                .ad {
                    display: flex;
                    align-self: center;
                    width: 30vw;
                    height: 10vh;

                }

                width:100vw;

                .goBack {
                    width: 20%;
                    height: 50px;

                }
            }

            .showInfoButtonDefault {
                display: none;
            }

            .showInfoButtonGray {
                display: none;
            }

            .calendarYear {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            .yearSelection {
                display: flex;
                width: 40%;
                margin-top: 1rem;

                button {
                    width: 90%;

                }
            }

            .yearSelectionSecond {
                display: none;
                width: 40%;
                margin-top: 1rem;

                button {
                    width: 90%;

                }
            }
        }
    }


}