.container {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;

    .questionForm {
        margin-bottom: 20vh;

    }


    .inputField {
        width: 95%;
        height: 35vh;
        background-color: rgb(39, 39, 39);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 22vh;
        justify-content: space-between;


        h1 {
            text-align: left;
            margin-top: 2rem;
            font-size: 2rem;
            font-size: 0.9rem;
            margin-left: 1rem;
            width: 90%;


        }

        p {
            padding-top: 40px;
            width: 90%;
            font-size: 0.8rem;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;



        }


        button {
            margin-bottom: 10px;
            height: 50px;
            width: 95%;
            border-radius: 15px;
            align-self: center;
            color: black;
            background-color: #e69111;
            font-size: 1.2rem;
            font-weight: 600;
        }




        .question {
            display: flex;
            flex-direction: column;

            .checkboxContainer {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                margin-bottom: 1rem;

                p {
                    margin: 0;
                }


                .checkbox {

                    margin: 0;
                    margin-left: 0.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    justify-self: center;
                }
            }

            input {
                margin-bottom: 2rem;
                height: 2rem;
                width: 40%;
                align-self: center;
                background-color: #ffffff;
                color: black;
                text-align: center;
                border: 2px solid black;
                padding: 0 0.5rem;
                font-size: 1rem;

            }

            .buttonContainer {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

            }

            button {
                width: 50%;
            }

            .select {

                margin-bottom: 2rem;
                border: 2px black;
                height: 2rem;
                padding: 0 0.5rem;
                font-size: 1rem;
                border-radius: 0;


            }

        }
    }


    @media(min-width: 1200px) {
        .inputField {
            width: 60vw;
            height:20vh;

            h1 {
                font-size: 1.5rem;
                text-align:center;

            }

            p {
                font-size: 1rem;
                text-align:center;
                opacity:0.8;
                margin-bottom:0.5rem;
                

            }
        }
    }

}